@model OrderHeader

@{
    ViewData["Title"] = "Index";
}
<form method="post" asp-controller="Shopping" asp-action="PlaceOrder">

    <h1>Cart Page</h1>


    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ContactPhone" class="control-label"></label>
                <input asp-for="ContactPhone" class="form-control" />
                <span asp-validation-for="ContactPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliverToAddress" class="control-label"></label>
                <textarea asp-for="DeliverToAddress" class="form-control"></textarea>
                <span asp-validation-for="DeliverToAddress" class="text-danger"></span>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-warning" asp-controller="Shopping" asp-action="index">Continue Shopping</a>
        </div>

        <div class="col-md-6">
            <div class="text-right">
                <input type="submit" value="Place Order" class="btn btn-success" />
            </div>
        </div>
    </div>
    <br />
    <hr />
    <div class="row">
        <div class="col-md-12">
            <table class="table" cellpadding="2" cellspacing="2" border="1">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Unit Price
                        </th>
                        <th>
                            Disount if doubled
                        </th>
                        <th>
                            Category
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Sub Total
                        </th>
                        <th>
                            After Disount Total
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.OrderLines.Count; i++)
                    {
                        <tr>
                            <td>@Model.OrderLines[i].Product.Name</td>
                            <td>@Model.OrderLines[i].Product.Description</td>
                            <td>@Model.OrderLines[i].Product.UnitPrice</td>
                            <td>@Model.OrderLines[i].Product.DisountToApply</td>
                            <td>@Model.OrderLines[i].Quantity</td>
                            <td>@(Model.OrderLines[i].Product.UnitPrice * Model.OrderLines[i].Quantity)</td>
                            <td>@Model.OrderLines[i].AfterDiscountPrice</td>
                            <td>
                                <a asp-controller="cart" asp-action="remove" asp-route-id="@Model.OrderLines[i].Product.Id">Remove</a>

                                @{
                                    Model.OrderLines[i].ProductId = Model.OrderLines[i].Product.Id;
                                }

                                @Html.HiddenFor(modelItem => Model.OrderLines[i].ProductId)
                                @Html.HiddenFor(modelItem => Model.OrderLines[i].Quantity)
                                @Html.HiddenFor(modelItem => Model.OrderLines[i].AfterDiscountPrice)
                            </td>
                        </tr>
                    }
                    <tr>
                        <td align="right" colspan="6">Total</td>
                        <td>
                            @ViewBag.total
                        </td>
                    </tr>
                    <tr>
                        <td align="right" colspan="6">Total after Discount</td>
                        <td>
                            @ViewBag.totalwdiscount
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
